.main-content {
    margin-left: -80px;
}

.comp-undo-but {
    width: 100px;
}

strong {
    font-size: larger;
}

bold {
    color: red;
}

.new-task-but {
    position: absolute;
    left: 65%;
    top: 35px;
    transform: translate(-50%, -50%);
}

.det-but {
    width: 100px;
}

button a {
    text-decoration: none;
    color: white;
}
